# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.sqlite3
db.sqlite3
staticfiles/

# Environnement virtuel
.dashboard/
.venv/
venv/
env/

# Variables d'environnement
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db