# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.venv/
.dashboard/
venv/
env/
ENV/

# Django
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/
static/*

# Environnement
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Tests
.coverage
htmlcov/
.pytest_cache